.home_section1 {
  display: flex;
  padding: 2rem;
}

.home_section2 {
  background-color: black;
  display: flex;
  padding: 2rem;
}

.home_section2 > .card_info {
  background-color: black;
}

@media screen and (max-width: 650px) {
  .home_section1 {
    display: block;
  }

  .home_section2 {
    display: block;
  }
}
